

.blocker-block {
  /* Positioning for children */
  align-items: center;
  justify-content: center;

  /* Specify initial position and dimensions */
  position: fixed;
  top: calc(99% - 150px); 
  left: 30px; /*50px;*/
  height: 120px; /*100px;*/
  width: 120px; /*100px;*/

}


.blocker-block:hover * {
  display: block;
}

.elementPosition {
  position: fixed;
  top: calc(99% - 150px);
  left: 40px;
}

.weathericonPosition {
  position: fixed;
  top: calc(99% - 150px);
  left: 30px; /*35px*/
  animation: sliding 8s linear infinite; /* Reference -- https://stackoverflow.com/questions/59300485/css-animation-moving-back-and-forth-with-rotation */
}

@keyframes sliding {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

.plantPosition {
  position: fixed;
  top: calc(99% - 100px);
  left: 65px; /*80px;*/
}


.invisible {
  display: none;
}

.blockContainer {
  /* Position */
  top: 0;
  position: fixed;
  z-index: 1000000000;
}

button {
  display: none;
}