@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  width: max-content;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  user-select: none;
}

h2 {
  font-weight: normal;
  font-size: 1.4em;
}

h3 {
  font-weight: 400;
  color: #404040;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.popup-title {
  font-family: 'Lato';
  font-size: 1.28rem;
  font-weight: 700;
  background-color: #005B90;
  color: rgb(255, 255, 255);
  width: 100%;
  padding:10px;
  padding-left: 30px;
}

.checkbox-container {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.checkbox-container input[type="checkbox"] {
  margin-left: 1.1rem;
}

.popup-content {
  font-family: 'Space Mono', sans-serif;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

button {
  background-color: #005B90; 
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 6px;
  cursor: pointer; /*need to specify to the type*/
}

button:hover {
  opacity: 30%;
}

.button2 {
  background-color: #FFFFFF;
  border-radius: 100%;
}



.plant {
  width: 45px;
  height: 45px;
}


.locat {
  width: 22px;
  height: 32px;
}


.spacer {
  margin: 40px 0px 45px 0px;
}

.spacer-sml {
  margin: 70px 0px 30px 0px;
}

/* Code for slider based on w3school */ 
/* Code for the switch (toggle background portion) dimensions and positioning */
.switch {
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 55px;
  height: 29px;
}

/* Hide the default HTML checkbox by reducing size and opacity */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Code for the slider within the toggle*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 29px;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

/* Disabled slider state */
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  border-radius: 29px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #005B90;
}


input:focus + .slider {
  box-shadow: 0 0 1px #005B90;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


input {
  width: 60%;
  padding: 12px 20px;
  margin: 0px;
  margin-left: 0px; /*10px;*/
  box-sizing: border-box;
  border: 2px solid #c5c5c5;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

input:focus {
  outline: none !important; /* Reference - https://stackoverflow.com/questions/16156594/how-to-change-border-color-of-textarea-on-focus */
  border: 2px solid #005B90;
  background-color: #ffffff;
}


.spacer-horiz {
  margin: 0px 30px 0px 30px;
}