@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  width: max-content;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  user-select: none;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: 300;
  color: #404040;
}

.popup-title {
  font-weight: 900;
  background-color: #005B90;
  color: rgb(255, 255, 255);
  width: 100%;
  padding:6px;
}

.checkbox-container {
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.checkbox-container input[type="checkbox"] {
  margin-left: 1.1rem;
}

.popup-content {
  font-family: 'Rubik', sans-serif;
  padding: 30px;
}

button {
  background-color: #005B90; 
  border: none;
  border-radius: 10px;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 6px;
  cursor: pointer; /*need to specify to the type*/
}

button:hover {
  opacity: 30%;
}

.button2 {
  background-color: #FFFFFF;
  border-radius: 100%;
}



.plant {
  width: 45px;
  height: 45px;
}


.locat {
  width: 22px;
  height: 32px;
}


.spacer {
  margin: 50px 0px 50px 0px;
}

.spacer-sml {
  margin: 30px 0px 30px 0px;
}

/* Code for slider based on w3school */ 
/* Code for the switch (toggle background portion) dimensions and positioning */
.switch {
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 55px;
  height: 29px;
}

/* Hide the default HTML checkbox by reducing size and opacity */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Code for the slider within the toggle*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 29px;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

/* Disabled slider state */
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  border-radius: 29px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #005B90;
}


input:focus + .slider {
  box-shadow: 0 0 1px #005B90;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


input {
  width: 60%;
  padding: 12px 6px;
  margin: 0px;
  box-sizing: border-box;
  border: 2px solid #777777;
  background-color: #f8f8f8;
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: 'Rubik', sans-serif;
}

input:focus {
  border: 3px solid #005B90;
}


.spacer-horiz {
  margin: 0px 30px 0px 30px;
}